version: '2'
services:
  mysqldb:
    image: mysql:latest
    environment:
      - MYSQL_USER=java
      - MYSQL_PASSWORD=java
      - MYSQL_DATABASE=java
      - MYSQL_ROOT_PASSWORD=java
    volumes:
      - mysql-data:/var/lib/mysql
    networks:
      - my-network
  web:
    build: web
    depends_on:
      - mysqldb
    ports:
      - "8080:8080"
    networks:
      - my-network
networks:
  my-network:
    driver: bridge
volumes:
  mysql-data:
