version: '3'
services:
  mysql-db:
    image: mysql:latest
    environment:
      - MYSQL_USER=java
      - MYSQL_PASSWORD=java
      - MYSQL_DATABASE=java
      - MYSQL_ROOT_PASSWORD=java
    volumes:
      - mysql-data:/var/lib/mysql
  web:
    build: web
    links:
      - mysql-db
    ports:
      - "8080:8080"
volumes:
  mysql-data: